@media screen and (max-width: 1366px) {
    .container {
        height: 110vh;
    }
}

@media screen and (max-width: 970px) {
    .container img {
        width: 450px;
    }
}

@media screen and (max-width: 695px) {
    nav {
        flex-direction: column;
    }
}

