.header {
    background-color: var(--primary-color);
    color: var(--primary-color);
    padding: 18px 20px;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
}
