.errormessagecontainer {
  position: fixed; /* Fijar el mensaje en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para resaltar el mensaje */
  z-index: 9999; /* Asegurar que el mensaje esté en la parte superior */
}

/* Estilos para el mensaje de error */
.errormessage {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

  .closebtn {
    background-color: var(--terciary-color);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--error-color);
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: var(--terciary-color);
    background-color: var(--error-color);
  }